<!-- BEGIN: CONTENT -->
<div class="container">
    <div id="slideshow" class="carousel slide col-sm-12 col-md-12" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#slideshow" data-slide-to="0" class="active"></li>
            <li data-target="#slideshow" data-slide-to="1"></li>
            <li data-target="#slideshow" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/Web_Post.jpg" alt="">
                <div id="slideTitle">
                    <span class="title">ĐH Nguyễn Tất Thành nhận hồ sơ xét tuyển học bạ đợt cuối đến ngày
                        03/09/2019</span>
                </div>
            </div>
            <div class="carousel-item">
                <img src="images/Slide1.png" alt="">
                <div id="slideTitle">
                    <span class="title">Chính sách học bổng Trường Đại Học Nguyễn Tất Thành năm 2019</span>
                </div>
            </div>
            <div class="carousel-item">
                <img src="images/Slide2.png" alt="">
                <div id="slideTitle">
                    <span class="title">Tuyển sinh liên thông 2019</span>
                </div>
            </div>
        </div>
        <div class="carousel-controls">
            <div id="slideCaseroulButton">
                <div id="carousel-arrow">
                    <a href="#slideshow" data-slide="prev"><span class="fa fa-angle-left" id="arrow-left" aria-hidden="true"></span></a>
                    <a href="#slideshow" data-slide="next"><span class="fa fa-angle-right" id="arrow-right" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="content">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <span class="c-title">Tin tức</span>
                <hr align="left" class="fix">
                <div class="row"> 
                    <article class="col-md-4 col-sm-6 post-home">
                        <a href="#"><img class="card-img-top" src="images/article1.png" alt=""></a>
                        <a href="#" class="a-title">
                        <p align="justify">Đại Học Nguyễn Tất Thành tuyển sinh liên thông các ngành đào tạo</p>
                        </a>
                        <p class="a-content" align="justify">NTTU - ĐH Nguyễn Tất Thành tuyển sinh liên thông các ngành đào tạo...</p>
                    </article>
                    <article class="col-md-4 col-sm-6 post-home">
                        <a href="#"><img class="card-img-top" src="images/article2.jpg" alt=""></a>
                        <a href="#" class="a-title">
                        <p align="justify">Nghiệp đoàn FJB Nhật Bản sang thăm và làm việc tại Trường ĐH Nguyễn Tất Thành</p>
                        </a>
                        <p class="a-content" align="justify">NTTU - Ngày 11/9 Nghiệp đoàn Fukuoka Jyoho Business (FJB) Nhật Bản đã có chuyến đến làm việc và giao lưu với các bạn sinh viên khoa Du lịch và Việt Nam học tại Trường ĐH Nguyễn Tất Thành, nhằm trao</p>
                    </article>
                    </article>
                    <article class="col-md-4 col-sm-6 post-home">
                        <a href="#"><img class="card-img-top" src="images/Web_Post.jpg" alt=""></a>
                        <a href="#" class="a-title">
                        <p align="justify">ĐH Nguyễn Tất Thành nhận hồ sơ xét tuyển học bạ đợt cuối đến ngày 03/09/2019</p>
                        </a>
                        <p class="a-content" align="justify">NTTU - Với ưu điểm linh hoạt, thuận tiện và đặc biệt là cho phép thí sinh (TS) chủ động hơn trong quá trình xét tuyển, phương thức xét tuyển bằng học bạ lớp 12 đang dần khẳng định được sức hút của mình.</p>
                    </article>
                </div>
                <a href="#" class="more"><i class="fa fa-arrow-circle-right"></i> Xem thêm</a>
            </div>
            <div class="col-md-3">
                <span class="c-title">Media</span>
                <hr align="left" class="fix">
                <div class="row">
                    <article class="post-video">
                    <iframe style="width: inherit;" src="https://www.youtube.com/embed/iZ1EUr2DAMs" frameborder="0" allowfullscreen></iframe>
                    <li class="link-list" align="justify"><i class="fa fa-angle-right no-white"><a href="https://www.youtube.com/watch?v=SwWJkVE6vMg" class="link"> ĐH Nguyễn Tất Thành – 20 năm dấu ấn một chặng đường</a></i> </li>
                    <li class="link-list" align="justify"><i class="fa fa-angle-right no-white"><a href="https://www.youtube.com/watch?v=txdD9O_bGXA" class="link"> NỎ THẦN - TẬP 8 | BẬT MÍ VỀ NỎ THẦN VÀ NHỮNG CÂU CHUYỆN CÓ THẬT</a></i> </li>
                    <li class="link-list" align="justify"><i class="fa fa-angle-right no-white"><a href="https://www.youtube.com/watch?v=gE_RSL0ad6c" class="link"> NỎ THẦN | TẬP CUỐI: ĐƯỜNG VỀ QUY LẠC</a></i> </li>
                </div>
                <a href="#" class="more"><i class="fa fa-arrow-circle-right"></i> Xem thêm</a>
            </div>
            </article>
        </div>
    </div>
</div>
<div class="container mid-slide">
    <h3 class="h-why">
        <b>"TẠI SAO CHỌN ĐẠI HỌC NGUYỄN TẤT THÀNH?"</b>
    </h3>
    <div class="noidung col-sm-4 col-4">
        <div class="line">
            Chuẩn 3 sao QS-Stars (Anh Quốc)
        </div>
    </div>
    <div class="noidung col-sm-4 col-4">
        <div class="line">
            Đạt chuẩn chất lượng quốc gia
        </div>
    </div>
    <div class="noidung col-sm-4 col-4">
        <div class="line">
            Đại học hạnh phúc
        </div>
    </div>
</div>
<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-6">
            <span class="c-title">Hợp tác quốc tế</span>
            <hr align="left" class="fix">
            <article>
                <a href="#"><img class="card-img-top" style="height:200px" src="images/hoptacquocte.jpg" alt=""></a>
                <a href="#" class="a-title">
                <p align="justify">Khoa Công nghệ Sinh học ĐH Nguyễn Tất Thành làm việc với ĐH Hiroshima</p>
                </a>
                <p class="a-content" align="justify">NTTU - Sáng ngày 17/09/2019, khoa Công nghệ Sinh học Trường ĐH Nguyễn Tất Thành đã có buổi làm việc với ĐH Hiroshima (Nhật Bản)</p>
            </article>
            <a href="#" class="more1"><i class="fa fa-arrow-circle-right"></i> Xem thêm</a>
        </div>
        <div class="col-md-4 col-sm-4 col-6">
            <span class="c-title">Môi trường học tập</span>
            <hr align="left" class="fix">
            <article>
                <a href="#"><img class="card-img-top" style="height:200px" src="images/mthoctap.jpg" alt=""></a>
                <a href="#" class="a-title">
                <p align="justify">Tìm hiểu về các câu lạc bộ tại Trường ĐH Nguyễn Tất Thành</p>
                </a>
                <p class="a-content" align="justify">NTTU - Những năm gần đây, bên cạnh việc nâng cao chất lượng đào tạo, Trường ĐH Nguyễn Tất Thành không ngừng phát triển mô hình câu lạc bộ sinh viên nhằm tạo môi trường học tập và vui chơi tốt nhất cho người học. Thông qua mô hình CLB, các bạn sinh viên có thể dễ dàng trao đổi kiến</p>
            </article>
            <a href="#" class="more1"><i class="fa fa-arrow-circle-right"></i> Xem thêm</a>
        </div>
        <div class="col-md-4 col-sm-4 col-12">
            <span class="c-title">Sự kiện nổi bật</span>
            <hr align="left" class="fix">
            <ul class="list-unstyle">
                <li>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="b-100">
                                Oct
                                <br>
                                <b>19</b>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <h5><a href="#" class="sk-title">Chương trình Chào mừng năm học mới - Nhận chứng nhận kiểm định chất lượng chương trình đào tạo Ngành Quản trị khách sạn</a></h5>
                            <ul class="list-unstyle a-30">
                                <li>
                                    <i class="far fa-clock yel-color"> 07:00</i>   
                                </li>
                                <li class="gray1">Hội trường lầu 9, cơ sở An Phú Đông, 331 Quốc lộ 1A, Phường An Phú Đông, Quận 12</li>
                                <hr class="hr-mid">
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="b-100">
                                Oct
                                <br>
                                <b>10</b>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <h5><a href="#" class="sk-title">Ngày Doanh nhân Việt Nam và Đại hội CLB Doanh nghiệp Trường Đại học Nguyễn Tất Thành</a></h5>
                            <ul class="list-unstyle a-30">
                                <li>
                                    <i class="far fa-clock yel-color"> 07:30</i>   
                                </li>
                                <li class="gray1">Hội trường A.801, 300A Nguyễn Tất Thành, phường 13, quận 4, TP. HCM</li>
                                <hr class="hr-mid">
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="b-100">
                                Oct
                                <br>
                                <b>05</b>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <h5><a href="#" class="sk-title">Lễ tốt nghiệp cho Sinh viên bậc Đại học liên thông từ Trung cấp khóa 2016; bậc Cao đẳng liên thông từ Trung cấp khóa 2017</a></h5>
                            <ul class="list-unstyle a-30">
                                <li>
                                    <i class="far fa-clock yel-color"> 07:30</i>   
                                </li>
                                <li class="gray1">Hội trường A.801, 300A Nguyễn Tất Thành, phường 13, quận 4, TP. HCM</li>
                                <hr class="hr-mid">
                            </ul>
                        </div>
                    </div>
                </li>
                <a href="#" class="more1"><i class="fa fa-arrow-circle-right"></i> Xem thêm</a>
            </ul>
        </div>
    </div>
</div>
<!-- END: CONTENT-->