<!-- BEGIN: HOPTAC-->
<div class="container intro1">
    <div class="row">
        <aside class="col-md-3 col-sm-4">
            <div class="head-intro">
                <h3 class="p-4">Đại Học Nguyễn Tất Thành</h3>
                <ul>
                    <li class="font-weight-bold">“Đoàn kết - Hội nhập - Năng Động - Trí tuệ - Trách nhiệm”</li>
                </ul>
            </div>
            <article class="p-4">
                <p>
                    <img src="./images/phongBacHo.png" class="img-fluid">
                </p>
                <p class="intro-tilte">QUY MÔ ĐÀO TẠO</p>
                <ul>
                    <li class="intro-li">Hơn 20.000 sinh viên</li>
                </ul>
                <p class="intro-tilte">ĐỘI NGŨ GIẢNG VIÊN</p>
                <ul>  
                    <li class="intro-li">924 giảng viên</li>
                    <li class="intro-li">90% có bằng TS, ThS</li>
                </ul>
                <p class="intro-tilte">CƠ SỞ VẬT CHẤT</p>
                <ul>
                    <li class="intro-li">8 cơ sở đào tạo</li>
                    <li class="intro-li">100.000 m<sup>2</sup> sàn xây dựng</li>
                    <li class="intro-li">3.000 máy tính</li>
                    <li class="intro-li">100.000 bản sách trong nước và quốc tế</li>
                    <li class="intro-li">Thư viện đạt chuẩn Quốc gia</li>
                </ul>
                <p class="intro-tilte">CHẤT LƯỢNG</p>
                <ul>
                    <li class="intro-li">Đạt chuẩn kiểm định chất lượng của Bộ GD&ĐT</li>
                    <li class="intro-li">Đạt chuẩn QS-Stars 3 sao (Anh Quốc)</li>
                </ul>
                <p class="intro-tilte">KHOA</p>
                <ul>
                    <li class="intro-li"><a href="#">Y</a></li>
                    <li class="intro-li"><a href="#">Dược</a></li>
                    <li class="intro-li">Điều Dưỡng</li>
                    <li class="intro-li"><a href="#">Quản trị Kinh Doanh</a></li>
                    <li class="intro-li">Luật</li>
                    <li class="intro-li"><a href="#">Tài chính - Kế toán</a></li>
                    <li class="intro-li"><a href="#">Cơ khí - Điện - Điện tử - Ô tô</a></li>
                    <li class="intro-li"><a href="#">Kỹ thuật Thực phẩm và Môi trường</a></li>
                    <li class="intro-li"><a href="#">Công nghệ Sinh học</a></li>
                    <li class="intro-li"><a href="#">Công nghệ Thông tin</a></li>
                    <li class="intro-li"><a href="#">Âm nhạc</a></li>
                    <li class="intro-li"><a href="#">Kiến trúc - Xây dựng - Mỹ thuật ứng dụng</a></li>
                    <li class="intro-li"><a href="#">Ngoại ngữ</a></li>
                    <li class="intro-li"><a href="#">Du lịch và Việt Nam học</a></li>
                    <li class="intro-li">Giáo dục Quốc phòng - An ninh và Giáo dục Thể chất</li>
                </ul>
            </article>
        </aside>
        <section class="col-md-9 col-sm-8">
            <div class="cate-heading mb-3">
                <img src="./images/nttu.png" class="img-fluid" id="intro-head-img">
                <article class="p-4">
                    <h4>Giới thiệu</h4>
                    <p>NTTU : Trường đại học Nguyễn Tất Thành được đặt tại Quận 4. Từ Trường đến trung tâm thành phố Hồ chí Minh chỉ mất 5 phút đi bằng ô-tô. Trường nằm cạnh bờ sông Sài Gòn lộng gió. Từ trên sân thượng tòa nhà, phóng tầm mắt ra xa, chúng ta có thể thấy bao quát toàn thành phố. Phía trước tòa nhà là dòng sông Sài Gòn dịu dàng uốn quanh, với nhiều tàu thuyền qua lại.</p>
                    <ul>
                        <li id="ntt-web"><i class="fa fa-arrow-circle-right color-arrow"></i><a href="#" class="font-weight-bold ntt-web"> http://ntt.edu.vn</a></li>
                    </ul>
                </article>
                <hr>
                <!--BEGIN: PAPER-->
                <div class="media-intro">
                    <article class="flex">
                        <img class="col-sm-3 col-6 img-intro" src="{NOIDUNG.img_url}" alt="">
                        <div class="col-sm-9 col-6">
                            <a href="#" class="media-header">{NOIDUNG.header}</a>
                            <p>{NOIDUNG.content}</p>
                        </div>
                    </article>
                </div>
                <hr>
                <!--END: PAPER-->
            </div>
        </section>
    </div>
</div>
<!-- END: HOPTAC-->