<!--BEGIN: TSINH-->
<div class="container intro1">
    <div class="row">
        <aside class="col-md-3 col-sm-4">
            <div class="head-tsinh">
                <h3 class="p-4">Đại Học Nguyễn Tất Thành</h3>
                <ul>
                    <li class="font-weight-bold">“Đoàn kết - Hội nhập - Năng Động - Trí tuệ - Trách nhiệm”</li>
                </ul>
            </div>
            <article class="p-4">
                <p>
                    <img src="./images/tsinh5.png" class="img-fluid">
                </p>
                <p class="tsinh-tilte">QUY MÔ ĐÀO TẠO</p>
                <ul>
                    <li class="tsinh-li">Hơn 20.000 sinh viên</li>
                </ul>
                <p class="tsinh-tilte">ĐỘI NGŨ GIẢNG VIÊN</p>
                <ul>  
                    <li class="tsinh-li">924 giảng viên</li>
                    <li class="tsinh-li">90% có bằng TS, ThS</li>
                </ul>
                <p class="tsinh-tilte">CƠ SỞ VẬT CHẤT</p>
                <ul>
                    <li class="tsinh-li">8 cơ sở đào tạo</li>
                    <li class="tsinh-li">100.000 m<sup>2</sup> sàn xây dựng</li>
                    <li class="tsinh-li">3.000 máy tính</li>
                    <li class="tsinh-li">100.000 bản sách trong nước và quốc tế</li>
                    <li class="tsinh-li">Thư viện đạt chuẩn Quốc gia</li>
                </ul>
                <p class="tsinh-tilte">CHẤT LƯỢNG</p>
                <ul>
                    <li class="tsinh-li">Đạt chuẩn kiểm định chất lượng của Bộ GD&ĐT</li>
                    <li class="tsinh-li">Đạt chuẩn QS-Stars 3 sao (Anh Quốc)</li>
                </ul>
                <p class="tsinh-tilte">KHOA</p>
                <ul>
                    <li class="tsinh-li"><a href="#">Y</a></li>
                    <li class="tsinh-li"><a href="#">Dược</a></li>
                    <li class="tsinh-li">Điều Dưỡng</li>
                    <li class="tsinh-li"><a href="#">Quản trị Kinh Doanh</a></li>
                    <li class="tsinh-li">Luật</li>
                    <li class="tsinh-li"><a href="#">Tài chính - Kế toán</a></li>
                    <li class="tsinh-li"><a href="#">Cơ khí - Điện - Điện tử - Ô tô</a></li>
                    <li class="tsinh-li"><a href="#">Kỹ thuật Thực phẩm và Môi trường</a></li>
                    <li class="tsinh-li"><a href="#">Công nghệ Sinh học</a></li>
                    <li class="tsinh-li"><a href="#">Công nghệ Thông tin</a></li>
                    <li class="tsinh-li"><a href="#">Âm nhạc</a></li>
                    <li class="tsinh-li"><a href="#">Kiến trúc - Xây dựng - Mỹ thuật ứng dụng</a></li>
                    <li class="tsinh-li"><a href="#">Ngoại ngữ</a></li>
                    <li class="tsinh-li"><a href="#">Du lịch và Việt Nam học</a></li>
                    <li class="tsinh-li">Giáo dục Quốc phòng - An ninh và Giáo dục Thể chất</li>
                </ul>
            </article>
        </aside>
        <section class="col-md-9 col-sm-8">
            <div class="cate-heading mb-3">
                <img src="./images/tsinh1.jpg" class="img-fluid" id="tsinh-head-img">
                <article class="p-4">
                    <h4>Tuyển sinh</h4>
                    <p>Đây là chuyên mục cung cấp một cách nhanh chóng, chính xác toàn cảnh thông tin về: • Tuyển sinh của Trường ĐH Nguyễn Tất Thành qua các năm • Thông tin tuyển sinh mới nhất của Bộ GD&ĐT • Chính sách học bổng tại Trường • Thông tin hướng nghiệp • Tư vấn Để biết thêm thông tin chi tiết, vui lòng truy cập tại địa chỉ: http://tuyensinh.ntt.edu.vn/</p>
                    <ul>
                        <li id="tsinh-ntt-web"><i class="fa fa-arrow-circle-right color-arrow"></i><a href="#" class="font-weight-bold tsinh-ntt-web"> http://tuyensinh.ntt.edu.vn/</a></li>
                    </ul>
                </article>
                <hr>
                <div class="media-tsinh">
                    <article class="flex">
                        <img class="col-sm-3 col-6 img-tsinh" src="./images/tsinh2.png" alt="">
                        <div class="col-sm-9 col-6">
                            <a href="#" class="media-header">Các bậc đào tạo</a>
                            <p>NTTU - ĐH Nguyễn Tất Thành là trường đào tạo đa ngành, đa bậc học từ trung cấp, cao đẳng, đại học cho tới sau đại học. Với mục tiêu hướng đến trường đại học ứng dụng thực hành, Nhà trường đã đẩy mạnh đầu tư cơ sở vật chất, nâng cao chất lượng đội ngũ giảng viên và chương trình đào tạo.</p>
                            <ul class="list-unstyle mb-0 row">
                                <li class="col-md-6"><i class="fa fa-angle-right tsinh-angle"></i><a href="#" class="hover"> Bậc sau đại học</a></li>
                                <li class="col-md-6"><i class="fa fa-angle-right tsinh-angle"></i><a href="#" class="hover">  Bậc đại học</a></li>
                                <li class="col-md-6"><i class="fa fa-angle-right tsinh-angle"></i><a href="#" class="hover"> Bậc cao đẳng</a></li>
                                <li class="col-md-6"><i class="fa fa-angle-right tsinh-angle"></i><a href="#" class="hover"> Liên thông</a></li>
                                <li class="col-md-6"><i class="fa fa-angle-right tsinh-angle"></i><a href="#" class="hover"> Đào tạo quốc tế</a></li>
                            </ul>
                        </div>
                    </article>
                </div>
                <hr>
                <div class="media-tsinh">
                    <article class="flex">
                        <img class="col-sm-3 col-6 img-tsinh" src="./images/tsinnh3.jpg" alt="">
                        <div class="col-sm-9 col-6">
                            <a href="#" class="media-header">Thông tin tuyển sinh</a>
                            <p>NTTU - Đây là bức tranh toàn cảnh về thông tin tuyển sinh Đại học của Trường ĐH Nguyễn Tất Thành. Chuyên mục này luôn cập nhật các thông tin về quy chế tuyển sinh, phương thức xét tuyển của Trường ĐH Nguyễn Tất Thành và Bộ Giáo dục & Đào tạo một cách nhanh chóng và chính xác nhất.</p>
                        </div>
                    </article>
                </div>
                <hr>
                <div class="media-tsinh">
                    <article class="flex">
                        <img class="col-sm-3 col-6 img-tsinh" src="./images/tsinh4.jpg" alt="">
                        <div class="col-sm-9 col-6">
                            <a href="#" class="media-header">Chính sách học bổng</a>
                            <p>NTTU – Nhằm động viên, khích lệ tinh thần học sinh – sinh viên vượt qua khó khăn để tiếp tục con đường học tập, hàng năm nhà trường đã trích ngân sách hơn 20 tỷ đồng hỗ trợ học sinh – sinh viên đang theo học tại trường.</p>
                        </div>
                    </article>
                </div>
                <hr>
                <div class="media-tsinh">
                    <article class="flex">
                        <img class="col-sm-3 col-6 img-tsinh" src="./images/tsinh5.png" alt="">
                        <div class="col-sm-9 col-6">
                            <a href="#" class="media-header">Hướng nghiệp</a>
                            <p>NTTU - Nhằm hỗ trợ cho các bạn thí sinh có thể chọn lựa nghề nghiệp phù hợp nhất với khả năng và nguyện vọng của bản thân. Trường ĐH Nguyễn Tất Thành tự hào là ngôi trường đào tạo với đa ngành và đa bậc học, ở đây các bạn thí sinh sẽ có nhiều sự lựa chọn tốt nhất cho nghề nghiệp ổn định trong tương lai của mình.</p>
                            <ul class="list-unstyle mb-0 row">
                                <li class="col-md-6"><i class="fa fa-angle-right tsinh-angle"></i><a href="#" class="hover"> Cẩm nang hướng nghiệp</a></li>
                                <li class="col-md-6"><i class="fa fa-angle-right tsinh-angle"></i><a href="#" class="hover"> Tư vấn hướng nghiệp</a></li>
                            </ul>
                        </div>
                    </article>
                </div>
                <hr>
                <div class="media-tsinh">
                    <article class="flex">
                        <img class="col-sm-3 col-6 img-tsinh" src="./images/tsinh6.gif" alt="">
                        <div class="col-sm-9 col-6">
                            <a href="#" class="media-header">Xét tuyển trực tuyến</a>
                            <p>NTTU - Tránh tình trạng thí sinh chờ đợi, chen chúc, cũng như vượt đường xa đến tận trường để nộp hồ sơ, nhiều năm qua trường ĐH Nguyễn Tất Thành đã cho phép thí sinh được nộp hồ sơ trực tuyến với hình thức đơn giản và dễ dàng. Thí sinh tham gia xét tuyển có thể đăng ký xét tuyển trực tuyến tại đây</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </div>
</div>
<!--END: TSINH--> 