<!-- BEGIN: HOMEPAGE-->
<!doctype html>
<html lang="en">
<head>
    <title>Trường Đại Học Nguyễn Tất Thành - NTTU</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styleAdmin.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-md">
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
            data-target="#collapseNav" aria-controls="collapseNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="collapseNav">
            <div class="color-hotline">Hotline: <a href="#" class="color-hotline">0912.298.300</a> - <a href="#"
                    class="color-hotline">0914.298.300</a></div>
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link white" href="#">SINH VIÊN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link white" href="#">GIẢNG VIÊN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link white" href="#">ĐÀO TẠO QUỐC TẾ</a>
                </li>
            </ul>
        </div>
        <form class="justify-content-sm-start">
            <div class="input-group">
                <input class="form-control btn-transparent border-0" id="searchbox" type="text"
                    placeholder="Tìm kiếm thông tin">
                <span class="input-group-btn">
                    <button class="form-control btn btn-transparent btn-secondary border-0" type="button" id="btn-search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </span>
                <a href="#"><img src="images/ico-flagen.jpg" id="flag"></a>
            </div>
        </form>
    </nav>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="{baseUrl}?m=content&a=content"><img src="images/logo_ntt.png" alt=""></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
            data-target="#collapseLink" aria-controls="collapseLink" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapseLink">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item ">
                    <a href="{baseUrl}?m=introduce&a=introduce" class="h-left"><i class="fa fa-info-circle"></i> Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a href="{baseUrl}?m=tuyensinh&a=tuyensinh" class="h-left"><i class="fa fa-graduation-cap"></i> Tuyển sinh</a>   
                </li>
                <li class="nav-item">
                    <a href="#" class="h-left"><i class="fa fa-book"></i> Đào tạo</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="h-left"><i class="fa fa-bookmark"></i> Nghiên cứu</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="h-left"><i class="fa fa-handshake"></i> Hợp tác doanh nghiệp</a>
                </li>
            </ul>
        </div>
    </nav>
    {error}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<!-- END: HOMEPAGE-->