<!-- BEGIN: REGIST-->
    <!-- <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="function.js"></script>
    </head> -->
    <body>
        <form method="POST" name="frmRegist">
            <br>
            <table class="form-group register">
                <tr>
                    <td>Họ tên:</td>
                    <td><input type="text" name="txtHoTen" class="form-control" value=""></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" name="txtEmail" class="form-control" value=""></td>
                </tr>
                <tr>
                    <td>Mật khẩu:</td>
                    <td><input type="password" name="txtMatkhau" class="form-control" value=""></td>
                </tr>
                <tr>
                    <td>Xác nhận mật khẩu:</td>
                    <td><input type="password" name="txtCMatkhau" class="form-control" value=""></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Đăng ký" id="btnRegister"></td>
                </tr>
            </table>
            <br>   
        </form>
    </body>
<!-- END: REGIST-->