<!-- BEGIN: UPDATE1-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/styleAdmin.css">
</head>
<body>
    <form method="POST" name="frmUpdate" enctype="multipart/form-data">
        <div class="container">
            ID bài viết: <input type="text" class="form-control marginb30" value="" name="id">
            Tiêu đề: <input type="text" class="form-control marginb30" value="" name="tieude">
            Nội dung: <textarea name="noidung" id="" cols="30" rows="10" class="form-control marginb30"></textarea>
            Ảnh: <input type="file" name="img" id="" class="marginb30">
            <br>
            <input type="submit" value="Sửa bài" class="marinb30" style="text-align: center">
        </div> 
    </form>
</body>
</html>
<!-- END: UPDATE1-->